
html, body {
	height:100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */

}



header {
	width:100%;
	height:155px;
	background:url('../img/b.png');
	color:white;
}

footer, .push {
	height:155px;
}



footer {
	width:100%;
	background:url('../img/b.png');
}

.headertext {
	border:1px solid black;
}

#main {

	margin-top:15px;
}